/* footer */
.carda{
    height: 45vh;
    width:100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 25%);
    overflow: hidden;
    padding: 2% 7%;
    color: #646771;
    background-color: #16151a;
    /* margin-right: 3rem!important;
    margin-left: 3rem!important; */

}
.container-fluid mt-5{
    width: 100%  !important;
}
.card {
    padding: 2% 7%;
    color: #646771;
    background-color: #16151a
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

ul>li:hover {
    color: #957bda;
    cursor: pointer
}

hr {
    border-width: 3px
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #957bda;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: white
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}